@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.landing .swiper {
  height: 100%;
}
.landing .swiper .swiper-slide {
  height: 100%;
  overflow: hidden;
}
.landing .swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper {
  height: 100%;
}
.landing-section-swiper .swiper-button-prev{
  /* #2e3331 */
  color:#2e3331 ;
  margin-left: 10px;
}
.landing-section-swiper .swiper-button-next{
  /* #2e3331 */
  color:#2e3331 ;
  margin-right: 10px;
}
